@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --white-color: #fff;
    --Primary-color:#313131;
    --Accent-color:#CA3E47;
    --font-family: Roboto Mono;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family) ;
    border-radius: 20px;
    background: radial-gradient(160.3% 78.68% at 16.98% 14.39%, #444 45.19%, #313131 95.67%);
    box-shadow: 1px 3px 26px 28px rgba(0, 0, 0, 0.10), 0px 1px 12px 7px rgba(0, 0, 0, 0.25);

}

.container {
    margin: auto;
    width: 360px;
    height: 100vh;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

button {
    border: unset;
    border-radius: 100px;
}

button:hover {
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 360px;
    padding: 134px 15px 25px 15px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.display {
    align-self: flex-start;
    width: 235px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 2px;
    
    
    
}


.display .inputs-txt {
    color: var(--white-color);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.3;
    word-wrap: break-word;
    width: 235px;
    

}

.display .result-txt {
    color: var(--white-color);
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 235px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.buttons{
    padding-top: 5px;
}
.lines {
    gap: 90px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.line-1 {
    display: block;
    margin: 0;
    width: 230px;
    height: 1px;
    border: 0;
    background: rgba(255, 255, 255, 0.20);
    padding: 0;
}

.line-2 {
    display: block;
    width: 10px;
    height: 1px;
    border: 0;
    background: rgba(255, 255, 255, 0.20);
    padding: 0;
    margin: 0;
}



.buttons-container {

    padding: 0px 15px 0px 10px;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: flex-start;

}

.buttons-container .numbers .btn {
    background-color: unset;
    display: flex;
    width: 70px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: var(--white-color);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.btn-clear,
.btn-pos-neg,
.btn-divide-remaining {
    opacity: 0.6;
}

.btn-clear:hover,
.btn-pos-neg:hover,
.btn-divide-remaining:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.20);
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
}

.functions {
    margin-top: -38px;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 392px;
    padding: 42px 5px 5px;
    border-radius: 100px;
    background: var(--Primary-color);
}

.functions .btn {
    background-color: inherit;
    display: flex;
    width: 60px;
    height: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    color: var(--white-color);
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.functions button:last-child {

    opacity: 0.6;
    background: var(--Accent-color);
    box-shadow: 0px 0px 5px 0px rgba(202, 62, 71, 0.30), 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}


.btn-divide:hover,
.btn-multiply:hover,
.btn-subtract:hover,
.btn-add:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgba(var(--Primary-color), 0.20);
    color: var(--white-color);
    transition: all 0.2s ease-in-out;
} 

.functions button:last-child:hover {
    opacity: 1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}